.mwrapper {
  height: 100vh;
  display: flex;
}

 .mside-bar{
   background-color: #253141;
   width: 300px;
 }

 .mside-bar-header{
  height: 100px;
  padding: 0 20px;
  background-color: #E3BE88;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mheader-name {
  color: black;
  font-size: 16px;
  text-decoration: none;
}

.mcreate-room a{
  color: deepskyblue;
  font-size: 10px;
  padding: 14px;
  border: 1px solid lightblue;
  text-decoration: none;
}

.mrooms{
  background-color: #FFE4B2;
  height: calc(100vh - 100px);
  padding: 0 20px;
  /* overflow: scroll; */
}

.mroom{
  padding: 20px 0 40px;
}

.mroom-name a{
  color: white;
  text-decoration: none;
}

 .mchat{
   background-color: #ffffff;
   width: calc(100vw - 300px);
 }

 .mchat-header {
  background-color: #FFE4B2;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.mheader-title {
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}

.mheader-button {
  margin-top: 40px;
}

.mheader-button a {
  text-decoration: none;
  border: 1px solid black;
  color: black;
  padding: 20px;
}

 .mmessages{
   background-color: #FAFAFA;
   height: calc(100vh - 100px - 90px);
   padding: 46px 40px 0;
   overflow: scroll;
  }
  
  .mmessage {
    margin: 10px 0 0 0;
  }
  
  .mupper-message{
    display: flex;
  }
  
  .mmessage-user {
    color: #434a54;
    font-size: 16px;
  }
  
  .mmessage-date {
    color: #999;
    font-size: 12px;
    padding-left: 10px;
  }
  
  .mlower-message {
    margin-top: 10px;
  }
  
  .mmessage-content {
    color: #434a54;
    font-size: 14px;
    margin-bottom: 40px;
  }

 .mform {
  background-color: #E3BE88;
  height: 90px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
 }

 .mform-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.mform-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.mform-submit {
  background-color: #ffcc66;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.mform-image {
  font-size: 12px;
  background-color: #ffcc66;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}

.messa-img {
  width: 33vh;
  height: 33vh;
  margin-top: 50px;
}